* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #efefef;
  color: #252525;
}

.header__nav {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 1000;
}
.header__nav .header__left {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
}
.header__nav .header__left .header__left-logo {
  width: 40px;
  height: 40px;
  margin: 5px 8px;
  cursor: pointer;
}
.header__nav .header__left .header__left-logo img {
  width: 100%;
  border-radius: 50%;
}
.header__nav .header__left .header__left-search {
  width: 240px;
  height: 40px;
  background: #efefef;
  border-radius: 20px;
  margin-left: 4px;
  padding: 0 8px;
  position: relative;
}
.header__nav .header__left .header__left-search i {
  line-height: 40px;
  font-size: 16px;
  color: #919191;
  margin-right: 4px;
}
.header__nav .header__left .header__left-search input {
  width: 200px;
  font-size: 16px;
  border: 0;
  background: transparent;
  outline: none;
}
.header__nav .header__left .header__left-search .header__search-history {
  background-color: #ffffff;
  position: absolute;
  top: calc(100% + 3px);
  left: 0;
  width: calc(100% + 2px);
  border-radius: 5px;
  box-shadow: 0 5px 3px #c5c5c5;
  display: none;
}
.header__nav .header__left .header__left-search .header__search-history .header__search-dropDown {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
.header__nav .header__left .header__left-search .header__search-history .header__search-dropDown p {
  color: #45abff;
  cursor: pointer;
}
.header__nav .header__left .header__left-search .header__search-history .header__search-recent {
  display: flex;
  height: 48px;
  margin: 5px;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}
.header__nav .header__left .header__left-search .header__search-history .header__search-recent img {
  width: 36px;
  height: 36px;
  border-radius: 20%;
  margin-right: 10px;
  object-fit: cover;
  object-position: center;
  margin: 8px 15px 8px 6px;
}
.header__nav .header__left .header__left-search .header__search-history .header__search-recent span {
  width: 127px;
  padding: 14px 0;
  font-size: 13px;
  font-weight: 600;
  color: #252525;
}
.header__nav .header__left .header__left-search .header__search-history .header__search-recent i {
  margin-left: 32px;
  border-radius: 50%;
  width: 20px;
  line-height: 20px;
  font-size: 9px;
  padding-left: 6px;
}
.header__nav .header__left .header__left-search .header__search-history .header__search-recent i:hover {
  background: #ffffff;
}
.header__nav .header__left .header__left-search .header__search-history .header__search-recent:hover {
  background: #e3e3e3;
  border-radius: 7px;
}
.header__nav .header__left .header__left-search:focus-within .header__search-history {
  display: block;
}
.header__nav .header__center {
  position: relative;
  right: 45px;
}
.header__nav .header__center a {
  color: #252525;
}
.header__nav .header__center a i {
  padding: 15px 48px;
  font-size: 22px;
  cursor: pointer;
}
.header__nav .header__center a i:hover {
  background: #e3e3e3;
  border-radius: 7px;
}
.header__nav .header__center a .fa-users {
  color: rgb(70, 91, 185);
  position: relative;
}
.header__nav .header__center a .fa-users::after {
  content: "";
  background: rgb(70, 91, 185);
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: -1px;
  position: absolute;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 16px;
  cursor: pointer;
}
.header__right img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 8px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  line-height: 40px;
}
.header__right .account-avatar {
  width: 40px;
  height: 40px;
}
.header__right i:hover {
  background: #e3e3e3;
}
.header__right .menu-menuList {
  display: none;
}
.header__right .card-menuList-wrap {
  position: absolute;
  top: 100%;
  right: 14px;
  overflow: hidden;
  display: none;
}
.header__right .card-menuList {
  width: 636px;
  background: #f7f7f7;
  border-radius: 7px;
  padding: 14px;
}
.header__right .card-menuList .card-menuList-main {
  display: flex;
  margin-top: 10px;
}
.header__right .card-menuList .menuList-menu {
  width: 359px;
  height: 560px;
  background: #ffffff;
  padding: 10px;
  overflow-y: scroll;
}
.header__right .card-menuList .menuList-menu::-webkit-scrollbar {
  width: 7px;
}
.header__right .card-menuList .menuList-menu::-webkit-scrollbar-thumb {
  background: #f5f5f5;
  border-radius: 20px;
}
.header__right .card-menuList .menuList-menu:hover::-webkit-scrollbar-thumb {
  background: #cccccc;
}
.header__right .card-menuList .menuList-menu h3 {
  margin: 10px 0;
}
.header__right .card-menuList .menuList-social {
  display: flex;
  height: 48px;
  margin: 5px 0px;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}
.header__right .card-menuList .menuList-social img {
  width: 36px;
  height: 36px;
  border-radius: 20%;
  margin-right: 10px;
  object-fit: cover;
  object-position: center;
  margin: 8px 15px 8px 6px;
}
.header__right .card-menuList .menuList-social span {
  padding: 14px 0;
  font-size: 14px;
  font-weight: 600;
  color: #252525;
}
.header__right .card-menuList .menuList-social:hover {
  background: #e3e3e3;
  border-radius: 7px;
}
.header__right .menu-mess {
  display: none;
}
.header__right .card-mess-wrap {
  position: absolute;
  top: 100%;
  right: 14px;
  overflow: hidden;
  display: none;
}
.header__right .card-mess {
  width: 370px;
  background: #ffffff;
  border-radius: 7px;
  padding: 14px;
}
.header__right .card-mess .header-mess {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  align-items: center;
}
.header__right .card-mess .header-mess h2 {
  font-size: 34px;
}
.header__right .card-mess .header-mess .header-mess-menu i {
  padding: 5px;
  border-radius: 50%;
}
.header__right .card-mess .search-mess {
  width: 336px;
  height: 40px;
  background: #efefef;
  border-radius: 20px;
  margin-left: 4px;
  padding: 0 8px;
  position: relative;
}
.header__right .card-mess .search-mess i {
  line-height: 40px;
  font-size: 16px;
  color: #919191;
  margin-right: 4px;
}
.header__right .card-mess .search-mess input {
  width: 200px;
  font-size: 18px;
  border: 0;
  background: transparent;
  outline: none;
}
.header__right .card-mess .menu-mess {
  display: flex;
  height: 60px;
  align-items: center;
  margin-top: 10px;
}
.header__right .card-mess .menu-mess img {
  height: 50px;
  width: 50px;
  margin: 5px;
}
.header__right .card-mess .menu-mess .name-mess {
  padding-left: 8px;
}
.header__right .card-mess .menu-mess .name-mess p {
  font-size: 17px;
  font-weight: 700;
}
.header__right .card-mess .menu-mess .name-mess span {
  font-size: 13px;
}
.header__right .menu-notifi {
  display: none;
}
.header__right .card-notifi-wrap {
  position: absolute;
  top: 100%;
  right: 14px;
  overflow: hidden;
  display: none;
}
.header__right .card-notifi {
  width: 370px;
  background: #ffffff;
  border-radius: 7px;
  padding: 14px;
}
.header__right .card-notifi .header-notifi {
  display: flex;
  justify-content: space-between;
}
.header__right .card-notifi .header-notifi h2 {
  font-weight: 700;
}
.header__right .card-notifi .header-notifi i {
  background: #ffffff;
  line-height: 33px;
  width: 30px;
  height: 30px;
  padding-left: 8px;
  border-radius: 50%;
}
.header__right .card-notifi .header-notifi i:hover {
  background: #e3e3e3;
}
.header__right .card-notifi .earlier {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.header__right .card-notifi .earlier p {
  color: #45abff;
}
.header__right .card-notifi .menu-notifi {
  display: flex;
  margin: 5px 0px;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}
.header__right .card-notifi .menu-notifi:hover {
  background: #e3e3e3;
  border-radius: 7px;
}
.header__right .card-notifi .menu-notifi img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
  object-position: center;
  margin: 8px 15px 8px 6px;
}
.header__right .menu-toggle {
  display: none;
}
.header__right .card-menu-wrap {
  position: absolute;
  top: 100%;
  right: 14px;
  overflow: hidden;
  display: none;
}
.header__right .card-menu {
  width: 370px;
  background: #ffffff;
  border-radius: 7px;
  padding: 14px;
}
.header__right .card-menu .profile-menu {
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 12px 0;
  margin-bottom: 15px;
}
.header__right .card-menu .profile-menu:hover {
  background: #e3e3e3;
  cursor: pointer;
}
.header__right .card-menu .profile-menu p {
  font-size: 16px;
  font-weight: 550;
}
.header__right .card-menu .profile-menu img {
  margin-right: 15px;
}
.header__right .card-menu .card-menu-items {
  display: flex;
  align-items: center;
  text-decoration: none;
  background: #ffffff;
  border-radius: 8px;
  padding: 5px 0;
  color: #252525;
}
.header__right .card-menu .card-menu-items:hover {
  background: #e3e3e3;
  cursor: pointer;
}
.header__right .card-menu .card-menu-items p {
  width: 100%;
  font-size: 15px;
}
.header__right .card-menu .card-menu-items img {
  width: 40px;
  background: rgba(229, 229, 229, 0.8980392157);
  padding: 8px;
  margin-right: 15px;
  border-radius: 50%;
}
.header__right .card-menu .card-menu-items span {
  padding-right: 9px;
}

.menu-icon i {
  background: #efefef;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 8px;
  font-size: 20px;
  line-height: 40px;
  padding-left: 11px;
}

.menu-menuList:checked ~ .card-menuList-wrap {
  display: block;
}

.menuList-search {
  width: 328px;
  height: 40px;
  background: #efefef;
  border-radius: 20px;
  margin-left: 4px;
  padding: 0 8px;
  position: relative;
}
.menuList-search i {
  line-height: 40px;
  font-size: 16px;
  color: #919191;
  margin-right: 4px;
}
.menuList-search input {
  width: 200px;
  font-size: 16px;
  border: 0;
  background: transparent;
  outline: none;
}

.menuList-create {
  background: #ffffff;
  width: 200px;
  position: fixed;
  margin-left: 408px;
  position: fixed;
  padding: 10px;
  border-radius: 9px;
}
.menuList-create .menu-create {
  display: flex;
  margin: 10px 5px;
}
.menuList-create .menu-create i {
  width: 36px;
  line-height: 36px;
  object-fit: cover;
  object-position: center;
  margin: 8px 15px 8px 6px;
  background: #c3c3c3;
  border-radius: 50%;
  font-size: 19px;
  padding-left: 8px;
}
.menuList-create .menu-create p {
  padding: 17px 0;
  font-size: 14px;
  font-weight: 600;
  color: #252525;
}
.menuList-create .menu-create:hover {
  background-color: #e3e3e3;
  border-radius: 7px;
}

.mess-icon i {
  background: #efefef;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 8px;
  font-size: 20px;
  line-height: 40px;
  padding-left: 11px;
}

.menu-mess:checked ~ .card-mess-wrap {
  display: block;
}

.notifi-icon i {
  background: #efefef;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 8px;
  font-size: 20px;
  line-height: 40px;
  padding-left: 11px;
}

.menu-notifi:checked ~ .card-notifi-wrap {
  display: block;
}

.menu-toggle:checked ~ .card-menu-wrap {
  display: block;
}

.main {
  display: flex;
  margin-top: 60px;
}
.main__left {
  width: 21%;
  height: 100%;
  padding: 20px 6px 5px 10px;
  position: fixed;
  background: #ffffff;
}
.main__left-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 16px;
}
.main__left-title h2 {
  font-size: 28px;
}
.main__left-title .fa-gear {
  padding: 10px;
  background: #e3e3e3;
  border-radius: 50%;
}
.main__left-title .fa-gear:hover {
  background: #c5c5c5;
  cursor: pointer;
}
.main__left-title .menu-setting {
  display: none;
}
.main__left-title .card-setting {
  position: absolute;
  top: 7%;
  left: 4px;
  overflow: hidden;
  display: none;
  z-index: 1;
}
.main__left-title .card-setting .market-notifi {
  width: 390px;
  background: #f3f3f3;
  border-radius: 7px;
  padding: 14px;
}
.main__left-title .card-setting .market-notifi h2 {
  font-size: 20px;
  margin-top: 5px;
}
.main__left-title .card-setting .market-notifi hr {
  width: 100%;
  height: 1px;
  border: 0;
  background: #cccccc;
  margin: 10px 0;
}
.main__left-title .card-setting .market-notifi .main__notifi {
  display: flex;
  margin-top: 5px;
  gap: 9px;
  align-items: center;
}
.main__left-title .card-setting .market-notifi .main__notifi i {
  width: 36px;
  height: 36px;
  padding: 10px;
  border-radius: 50%;
  background: #ffffff;
}
.main__left-title .card-setting .market-notifi .main__notifi p {
  font-size: 16px;
  font-weight: bold;
}
.main__left-title .card-setting .market-notifi .main__set {
  display: flex;
  margin-top: 5px;
  gap: 9px;
  align-items: center;
}
.main__left-title .card-setting .market-notifi .main__set i {
  width: 36px;
  height: 36px;
  padding: 10px;
  border-radius: 50%;
  background: #ffffff;
}
.main__left-title .card-setting .market-notifi .main__set p {
  font-size: 16px;
  font-weight: bold;
}
.main__left-title .menu-setting:checked ~ .card-setting {
  display: block;
}
.main__left-search {
  width: 354px;
  height: 36px;
  background: #efefef;
  border-radius: 20px;
  margin: 5px 16px;
  padding: 0 8px;
  position: relative;
}
.main__left-search i {
  line-height: 37px;
  font-size: 16px;
  color: #919191;
  margin-right: 4px;
}
.main__left-search input {
  width: 200px;
  font-size: 16px;
  border: 0;
  background: transparent;
  outline: none;
}
.main__left-search .main__search-history {
  background-color: #ffffff;
  position: absolute;
  top: calc(100% + 3px);
  left: 0;
  width: calc(100% + 2px);
  border-radius: 5px;
  box-shadow: 0 5px 3px #c5c5c5;
  display: none;
}
.main__left-search .main__search-history .main__search-dropDown {
  display: flex;
  padding: 5px 10px;
}
.main__left-search .main__search-history .main__search-recent {
  display: flex;
  height: 48px;
  margin: 5px;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}
.main__left-search .main__search-history .main__search-recent i {
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin: 8px 15px 8px 6px;
  padding-left: 12px;
  background: #f1f0f0;
}
.main__left-search .main__search-history .main__search-recent span {
  width: 127px;
  padding: 15px 0;
  font-size: 15px;
  font-weight: 600;
  color: #252525;
}
.main__left-search .main__search-history .main__search-recent:hover {
  background: #e3e3e3;
  border-radius: 7px;
}
.main__left-search:focus-within .main__search-history {
  display: block;
}
.main__left-list {
  padding: 10px 4px 0px 16px;
  height: 100%;
  overflow-y: auto;
}
.main__left-list::-webkit-scrollbar {
  width: 7px;
}
.main__left-list::-webkit-scrollbar-thumb {
  background: #f5f5f5;
  border-radius: 20px;
}
.main__left-list:hover::-webkit-scrollbar-thumb {
  background: #cccccc;
}
.main__left-list .menu {
  display: flex;
  height: 48px;
  margin: 5px 0px;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 7px;
}
.main__left-list .menu i {
  width: 46px;
  line-height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin: 8px 15px 8px 6px;
  padding-left: 12px;
  background: #c5c5c5;
}
.main__left-list .menu p {
  width: 100%;
  padding: 14px 0;
  font-size: 14px;
  font-weight: 600;
  color: #252525;
}
.main__left-list .menu span {
  padding-right: 10px;
  font-weight: bold;
}
.main__left-list .menu:hover {
  background-color: #e3e3e3;
  border-radius: 7px;
}
.main__left-list .menu .fa-store {
  background: #45abff;
  color: #ffffff;
}
.main__left-list .menu-store {
  background: #e3e3e3;
}
.main__left-list hr {
  width: 100%;
  height: 1px;
  border: 0;
  background: #cccccc;
  margin: 10px 0;
}
.main__left-list .group-joined {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__left-list .group-joined h2 {
  font-size: 21px;
  margin: 5px 0px;
}
.main__left-list .group-joined p {
  color: #45abff;
  font-weight: bold;
  padding: 5px 4px;
  margin-top: 5px;
}
.main__left-list .group-joined p:hover {
  background: #e3e3e3;
  border-radius: 7px;
  cursor: pointer;
}
.main__left-list .category {
  display: flex;
  height: 65px;
  margin: 5px 0px;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 7px;
}
.main__left-list .category img {
  width: 50px;
  height: 50px;
  border-radius: 7px;
  object-fit: cover;
  object-position: center;
  margin: 8px 15px 8px 6px;
  background: #c5c5c5;
}
.main__left-list .category .name-group {
  align-items: center;
}
.main__left-list .category .name-group p {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: #252525;
}
.main__left-list .category .name-group span {
  color: #575050;
  font-size: 12px;
}
.main__left-list .category:hover {
  background-color: #e3e3e3;
  border-radius: 7px;
}
.main__right {
  width: 670px;
  height: 100%;
  margin-left: 43%;
  padding: 20px 10px 10px 10px;
}
.main__right-title h3 {
  font-size: 17px;
  color: #747272;
}
.main__right .main__center-bottom {
  width: 100%;
  height: auto;
  border-radius: 7px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.3);
  margin: 10px 0;
  background: #ffffff;
}
.main__right .main__center-bottom img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  cursor: pointer;
}
.main__right .main__center-bottom .main__center-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.main__right .main__center-bottom .main__center-info .post-icon {
  display: flex;
  margin-left: 10px;
  cursor: pointer;
}
.main__right .main__center-bottom .main__center-info .post-icon img {
  width: 20px;
  height: 20px;
}
.main__right .main__center-bottom .main__center-info .post-icon p {
  padding-left: 5px;
  color: #919191;
}
.main__right .main__center-bottom .like {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 0;
}
.main__right .main__center-bottom .like .like-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.main__right .main__center-bottom .like-icon i {
  font-size: 20px;
  margin-right: 8px;
  color: #919191;
}
.main__right .main__center-postFriend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.main__right .main__center-postFriend .main__center-img-name {
  display: flex;
  align-items: center;
  margin: 10px 0 0 10px;
}
.main__right .main__center-postFriend .main__center-img-name img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-right: 8px;
  cursor: pointer;
}
.main__right .main__center-postFriend .main__center-img-name .img-group {
  border-radius: 7px;
  width: 45px;
  height: 45px;
}
.main__right .main__center-postFriend .main__center-img-name .img-acc {
  width: 33px;
  height: 33px;
  margin-left: -33px;
  margin-bottom: -19px;
}
.main__right .main__center-postFriend .menu {
  display: flex;
  margin-right: 4px;
}
.main__right .main__center-postFriend .menu i {
  line-height: 32px;
  border-radius: 50%;
  width: 32px;
  padding-left: 9px;
}
.main__right .main__center-postFriend .menu i:hover {
  background: #e3e3e3;
  cursor: pointer;
}
.main__right .friend-name {
  font-weight: 600;
  cursor: pointer;
}
.main__right .friend-name:hover {
  text-decoration: underline;
}
.main__right .friend-name .time {
  font-size: 13px;
  color: #919191;
  margin: 3px 0;
}
.main__right .friend-name .time i {
  font-size: 10px;
}
.main__right .main__center-info .comment {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.main__right .main__center-info .comment p {
  padding: 0 12px;
  font-size: 15px;
  color: #919191;
}
.main__right .main__center-info .comment :hover {
  text-decoration: underline;
}
.main__right .hr {
  height: 1px;
}

/*# sourceMappingURL=group.css.map */
